body {
	font-family: "Comic Sans MS", sans-serif;
	background-image: url("fuck.png"); 
	text-align: center;
	color: yellow;
	font-size: 300%;
}

.button {
  background-color: rgb(100, 155, 255);
  color: pink;
  border: none;
  cursor: pointer;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 100%;
}

.button:hover {
  background-color: rgb(100, 155, 255);
  color: rgb(174, 50, 42);
}